<% provide(:title, t('.content_title')) %>

<% content_for :block_content do %>
  <div class="container">
    <%= form_for(@folder) do |f| %>
      <div class="form-group row">
        <%= f.label :name, t('.name_label'), class: 'col-md-3 offset-lg-1 col-lg-2 col-form-label col-form-label-lg' %>
        <div class="col-md-8">
          <%= f.text_field :name, class: 'form-control form-control-lg' %>
        </div>
      </div>
      
      <div class="form-group row">
        <%= f.label :owner, t('.owner_label'), class: 'col-md-3 offset-lg-1 col-lg-2 col-form-label col-form-label-lg' %>
        <div class="col-md-8">
          <%= f.text_field :owner, class: 'form-control form-control-lg' %>
        </div>
      </div>
      
      <div class="row">
        <div class="offset-md-3 col-md-8">
          <div class="form-check">
            <label class="form-check-label form-check-label-lg">
              <%= f.check_box :public, class: 'form-check-input' %><%= t('.public_label') %>
            </label>
          </div>
        </div>
      </div>
      
      <div class="form-group row">
        <div class="offset-md-3 col-md-8">
          <div class="form-check">
            <label class="form-check-label form-check-label-lg">
              <%= f.check_box :stores_panoramas, class: 'form-check-input' %><%= t('.panoramas_label') %>
            </label>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <%= f.submit t('.submit_root'), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

