<% provide(:title, @folder.full_path) %>
<% provide(:block_title, t('.obj_name') + ' "' + @folder.name + '"') %>

<% content_for :on_block_top do %>
  <div class="col-md-12">
    <%= render partial: 'shared/path', locals: { full_path: @folder.full_path  } %>
  </div>
<% end %>

<% content_for :block_header do %>
  <%= render partial: 'shared/tags', locals: { obj: @folder  } %>
<% end %>
      
<% content_for :block_content do %>
  <% if admin_or_owner_of?(@folder) %>
    <%= render partial: 'tools', locals: { folder: @folder  } %>
  <% end %>
  <div class="row">
    <% @folder.children.each do |folder| %>
      <%= render partial: 'entity', locals: { entity: folder, type: :folder, path: private_files_path(folder) } %>
    <% end %>
    <% @folder.panoramas.each do |panorama| %>
      <%= render partial: 'entity', locals: { entity: panorama, type: :panorama, path: private_show_pano_path(panorama) } %>
    <% end %>
  </div>
<% end %>
