<% provide(:title, @folder.readable_name) %>
<% provide(:block_title, t('.obj_name') + ' "' + @folder.readable_name + '"') %>

<% editable = admin_or_owner_of?(@folder) %>

<% content_for :on_block_top do %>
  <%= render partial: 'shared/path', locals: { full_path: @folder.full_path  } %>
<% end %>

<% content_for :block_header do %>
  <%= render partial: 'shared/tags', locals: { obj: @folder  } %>
  <%= render partial: 'shared/title', locals: {
    obj: @folder, url_path: private_folder_path(@folder.id), editable: editable } %>
<% end %>
      
<% content_for :block_content do %>
  <% if admin_or_owner_of?(@folder) %>
    <%= render partial: 'tools', locals: { folder: @folder  } %>
  <% end %>
  <div class="row">
    <% @folder.children.each_with_index do |folder, index| %>
      <%= render partial: 'entity', locals: { entity: folder, type: :folder, path: private_files_path(folder) } %>
      <%= render partial: 'clearfix', locals: { index: index + 1 } %>
    <% end %>
    <% folders_num = @folder.children.count %>
    <% @folder.panoramas.each_with_index do |panorama, index| %>
      <%= render partial: 'entity', locals: { entity: panorama, type: :panorama, path: private_show_pano_path(panorama) } %>
      <%= render partial: 'clearfix', locals: { index: folders_num + index + 1 } %>
    <% end %>
  </div>
<% end %>
