<p><%= @folder.full_path %></p>
<p><%= t(:owner_name_label) + " " + @folder.owner.name %></p>
<p><%= t(:public_folder_label) + " " + @folder.public?.to_s %></p>

<%= form_for(:private_folder, url: private_folders_path) do |f| %>
  <%= f.hidden_field :owner, value: @folder.owner.name %>
  <%= f.hidden_field :parent_id, value: @folder.id %>
  <%= f.hidden_field :public, value: (@folder.public? ? '1' : '0') %>
  <%= f.hidden_field :stores_panoramas, value: (@folder.stores_panoramas? ? '1' : '0') %>

  <%= f.label :name, t(:folder_name_label) %>
  <%= f.text_field :name %>
  
  <%= f.submit t(:submit_subfolder) %>
<% end %>

<%= "#{t(:subfolders_num)} #{@folder.children.count}" %>
<% if !@folder.root? %>
  <p><%= link_to '..', private_files_path(@folder.parent) %></p>
<% end %>
<% @folder.children.each do |folder| %>
  <p><%= link_to folder.name, private_files_path(folder) %></p>
<% end %>
