<% provide(:title, pano_title(@panorama, @version) ) %>
<% provide(:block_title, t('.obj_name') + ' "' + @panorama.readable_name + '"') %>

<% editable = admin_or_owner_of?(@panorama.folder) %>

<% content_for :on_block_top do %>
  <%= render partial: 'shared/path', locals: { full_path: @panorama.full_path  } %>
<% end %>

<% content_for :block_header do %>
  <%= render partial: 'shared/tags', locals: { obj: @panorama  } %>
  <%= render partial: 'shared/title', locals: {
    obj: @panorama, url_path: private_panorama_path(@panorama.id), editable: editable } %>
  <div class="hor-divider"></div>
  <div class="pano-description">
    <%= render partial: 'shared/description', locals: {
      obj: @panorama, url_path: private_panorama_path(@panorama.id), editable: editable } %>
  </div>
<% end %>

<% content_for :block_content do %>
  <% if editable %>
    <div class="container pano-tools-block">
      <div class="add-pano-version-form col-md-6">
        <%= form_for(:private_pano_version, url: private_panorama_pano_versions_path(@panorama.id)) do |f| %>
          <%= f.submit t('.submit_version'), class: 'btn btn-primary btn-lg btn-block' %>
        <% end %>
      </div>
      <div class="destroy-panorama-form col-md-6">
        <%= form_for(:private_panorama, url: private_panorama_path(@panorama.id),
          method: :delete, data: { confirm: t('.confirm_destruction') }) do |f| %>
          <%= f.submit t('.destroy_panorama'), class: 'btn btn-danger btn-lg btn-block' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% @panorama.versions.reverse_each do |version| %>
    <% if version == @version %>
      <%= render partial: 'private/pano_versions/active', locals: { version: version } %>
    <% else %>
      <%= render partial: 'private/pano_versions/other', locals: { version: version } %>
    <% end %>
  <% end %>
<% end %>
