<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-inverse">
      <a class="navbar-brand" href="#"><%= t(:title) %></a>
      <ul class="nav navbar-nav">
        <% if private_namespace? %>
          <li class="nav-item">
            <% if logged_in? %>
              <%= link_to t(:logout), private_logout_path, method: :delete, class: 'nav-link' %>
            <% else %>
              <%= link_to t(:login), private_login_path, class: 'nav-link' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
